apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "flask-monitor"
  namespace: "default"
  labels:
    app: "flask-monitor"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "flask-monitor"
  template:
    metadata:
      labels:
        app: "flask-monitor"
    spec:
      containers:
      - name: "flask"
        image: "sushanku/flask-monitor-app:latest"
        resources:
          limits:
            memory: 512Mi
            cpu: "1"
          requests:
            memory: 256Mi
            cpu: "0.2"
        envFrom:
        - configMapRef:
            name: "flask-config"